<html>
	<head>
		<title>KanjiFlipZ</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		
		<link rel="shortcut icon" type="image/x-icon" href="/shared/imgs/favicon.ico" />
		<link rel="apple-touch-icon-precomposed" href="/flip/apple-touch-icon-precomposed.png" />
		
		<link rel="stylesheet" type="text/css" href="/flip/styles.css" />
		
		<script type="text/javascript" src="/lists/loadList.js"></script>
		<script type="text/javascript" src="/flip/fast_lists.js"></script>
		<script type="text/javascript" src="/flip/keyinput.js"></script>
		<script type="text/javascript" src="/flip/settings.js"></script>
		<script type="text/javascript" src="/flip/app.js"></script>
	</head>
	<body onload="init();">
		<div id="osCard"></div>
		<div id="bg"></div>
		<div id="app">
			<div id="cardBlock">
				<div id="card">
					Loading...
				</div>
			</div>
			<div id="controls">
				<span id="progressNum">1/2</span>
				<div id="progressBar">
					<div id="progress">
					</div>
				</div>
				<br />
				<br />
				<button id="restartBtn" style="line-height:95%;" title="Hotkey: R" accesskey="r" onclick="restart();">
					<big>&#8606;</big>
					<br />
					<small><u>R</u>estart</small>
				</button>
				<button id="prevCardBtn" style="line-height:95%;" title="Hotkey: K or P" accesskey="p" onclick="if (current > 0) {current-= 2; nextCard();}" >
					<big>&#8592;</big>
					<br />
					<small><u>P</u>rev. Card</small>
				</button>
				<button id="flipCardBtn" style="line-height:95%;" title="Hotkey: F" accesskey="f" onclick="flipCard();">
					<big>&#8631;</big>
					<br />
					<small><u>F</u>lip Card</small>
				</button>
				<button id="nextCardBtn" style="line-height:95%;" title="Hotkey: J or N" accesskey="n" onclick="nextCard();" >
					<big>&#8594;</big>
					<br />
					<small><u>N</u>ext Card</small>
				</button>
			</div>
			<button id="settingsBtn" accesskey="s" onclick="document.getElementById('settingsBg').style.display = 'block';"><u>S</u>ettings</button>
		</div>
		<div id="settingsBg">
			<div id="settings">
				<button id="settingsCloseBtn" title="Close the settings panel (Esc)" onclick="document.getElementById('settingsBg').style.display = 'none';">&times;</button>
				<span style="float:right; font-size:10pt; margin-right:12px; margin-top:6px;">All changes are saved automatically</span>
				<span id="settingsHeader">KanjiFlipZ Settings</span>
				<div id="generalSettings">
					<span style="font-size:13pt;">General Settings</span>
					<br />
					<br />
					Use settings and lists stored...
					<br />
					<label for="saveLocal" onclick="setSetting('cloudSave', 'false'); loadSettings();">
						<input type="radio" name="saveLocation" id="saveLocal" disabled />
						In this browser <small>(accessible only on this computer by anyone who uses it)</small>
					</label>
					<br />
					<label for="saveCloud" onclick="setSetting('cloudSave', 'true'); loadSettings();">
						<input type="radio" name="saveLocation" id="saveCloud" checked />
						In the cloud <small>(accessible on any computer only when you sign in)</small>
					</label>
					<br />
					<br />
					Front:
					<br />
					<label for="frontEnglish" onclick="setData('front', 'english');">
						<input type="radio" name="front" id="frontEnglish" checked />
						English
					</label>
					<label for="frontKana" onclick="setData('front', 'kana');">
						<input type="radio" name="front" id="frontKana" />
						Kana
					</label>
					<label for="frontKanji" onclick="setData('front', 'kanji');">
						<input type="radio" name="front" id="frontKanji" />
						Kanji
					</label>
					<br />
					<br />
					Back:
					<br />
					<label for="backEnglish" onclick="setData('back', 'english');">
						<input type="radio" name="back" id="backEnglish" />
						English
					</label>
					<label for="backKana" onclick="setData('back', 'kana');">
						<input type="radio" name="back" id="backKana" />
						Kana
					</label>
					<label for="backKanji" onclick="setData('back', 'kanji');">
						<input type="radio" name="back" id="backKanji" checked />
						Kanji
					</label>
					<br />
					<br />
					<br />
					<a href="https://chrome.google.com/webstore/support/cmogbjljapkifdlakaebddigpjnkljlb" target="_blank"><img src="/shared/imgs/cws_icon.png" style="vertical-align:top;margin-right:4px;" />Submit feedback on the Chrome Web Store</a>
				</div>
				<div id="listSettings">
					<span style="font-size:13pt;">Selected Words</span>
					<div id="listsPaneHeader">
						Lists
					</div>
					<div id="listItemsPaneHeader">
					
					</div>
					<div id="userListPane">
						<button style="font-size:10pt;" title="Not yet implemented" onclick="shuffleUserList();">Shuffle List</button>
						<button style="font-size:10pt;" title="Remove all items from the list" onclick="clearUserList();">Clear List</button>
						<div class="listItem" data-english="Welcome" data-kana="よこそう" data-kanji="よこそう">
							<button onclick="removeItem(this.parentElement);">&times;</button>&nbsp;Welcome / よこそう / よこそう</button>
						</div>
						<div class="listItem" data-english="To KanjiFlipZ" data-kana="KanjiFlipZへ" data-kanji="KanjiFlipZへ">
							<button onclick="removeItem(this.parentElement);">&times;</button>&nbsp;To KanjiFlipZ/ KanjiFlipZへ / KanjiFlipZへ
						</div>
					</div>
					<div id="listsPane">
						<br />
						<br />
						<p style="text-align:center; font-size:10pt;">
							<img src="/shared/imgs/loading_anim.gif" />
							Loading...
						</p>
					</div>
					<div id="listItemsPane">
					</div>
				</div>
				<div id="changelogSettings">
					<span style="font-size:13pt;">Changelog</span>
					<br />
					<i>(Changes, as of when they went live)</i>
					<br />
					<ul>
						<li>2012-04-07:</li>
						<ul>
							<li>Fancier card flipping animation</li>
							<li>Major changes behind-the-scenes that will make future updates easier</li>
							<li>Fixed the shuffle button breaking everything</li>
							<li>Fixed empty lists breaking loading</li>
							<li>Other minor bug fixes</li>
						</ul>
						<li>2012-03-21:</li>
						<ul>
							<li>Added additional access keys</li>
							<li>Reorganization and improvements behind-the-scenes</li>
							<li>Bug fixes</li>
						</ul>
						<li>2012-03-20:</li>
						<ul>
							<li>Completed account-based storage</li>
						</ul>
						<li>2012-03-14:</li>
						<ul>
							<li>Added additional access keys</li>
						</ul>
						<li>2012-03-12:</li>
						<ul>
							<li>Improved list storage</li>
							<li>Added account-based list storage</li>
						</ul>
						<!--<li>2011-03-30:</li>
						<ul>
							<li>Button icons changed</li>
							<li>Changelog page added</li>
						</ul>-->
					</ul>
				</div>
				<div id="settingsTabs">
					<div class="settingsTab" accesskey="g" onclick="document.getElementById('generalSettings').style.display = 'block'; document.getElementById('listSettings').style.display = 'none'; document.getElementById('changelogSettings').style.display = 'none';">
						<u>G</u>eneral
					</div>
					&nbsp;&nbsp;
					<div class="settingsTab" accesskey="l" onclick="document.getElementById('listSettings').style.display = 'block'; document.getElementById('generalSettings').style.display = 'none'; document.getElementById('changelogSettings').style.display = 'none';">
						<u>L</u>ists
					</div>
					&nbsp;&nbsp;
					<div class="settingsTab" accesskey="c" onclick="document.getElementById('changelogSettings').style.display = 'block'; document.getElementById('listSettings').style.display = 'none'; document.getElementById('generalSettings').style.display = 'none';">
						<u>C</u>hangelog
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
